@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: #ececec;
}

/*------------ Login container ------------*/

.box-area {
    width: 400px; /* Adjusted width */
}

/*------------ Right box ------------*/

.right-box {
    padding: 30px 20px; /* Adjusted padding */
}

/*------------ Custom Placeholder ------------*/

::placeholder {
    font-size: 16px;
}

.rounded-4 {
    border-radius: 20px;
}

.rounded-5 {
    border-radius: 30px;
}

/*------------ For small screens------------*/

@media only screen and (max-width: 768px) {
    .box-area {
        width: 90%; /* Make it responsive on small screens */
        margin: 0 10px;
    }
    .left-box {
        height: 100px;
        overflow: hidden;
    }
    .right-box {
        padding: 20px;
    }
}

/* Adjust the width of the input fields and the container */
.form-control {
    max-width: 400px; /* Set max-width for input fields */
}
.box-area {
    max-width: 600px; /* Adjust the overall box width */
}